body{
  display: block;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: auto;
  background-color: white;
  font-size: 18px;
  font-family: 'PT Serif', serif;
  text-decoration: none;}

  a{
    text-decoration: none;
    color: black;
  }
  html {
    height: 100%;
  }

  article{
    width: 75%;
    background-color: white;
    display: block;
    margin-top: 20px;
    display: inline-block;
    margin-left: 12.5%;
    }
  .hide{
    padding: 0px 0px 20px 20px;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
  }
  body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  #me{
    width: 300px;
    height: 100%;
    float: right;
    opacity: 1;
    transition: transform .6s;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    margin-left: 30px;
  }
  #me:hover{
    opacity: 0.85;
  }

  #logo{

    width: 160px;
    height: 150px;
    padding-bottom: 20px;
  }
  .links {
    display: table-row;

  }

  .links img{
    padding: 0px 0px 20px 20px;
    margin-bottom: 20px;
    width: 70px;
    height: 30px;
  }
  header a{
    font-family: 'Josefin Slab', serif;
    font-size: 45px;
  }
  header[type="co"]{
    color: #5e5e5e;
    font-size: 19px;
    font-weight: bolder;
  }
  div[type="date"]{
    float: right;
  }
  .nav {
    width: 100%;
    background-color: #f6d9d5;
    font-size: 18px;
    font-weight:bolder;
    margin: 0 0 0px;
    text-align: center;
    font-family: 'Josefin Slab', serif;
  }
  .nav li:not(:nth-child(3)){
    transform: translateY(-50px);
    padding-left: 30px;
    padding-right: 30px;
  }
  .nav li:first-child{
    padding-right: 30px;
    padding-left:0px;
  }

  .nav li {
    display: inline-block;
    list-style-type: none;
  }
  .nav li:last-child {
    margin-right: 0;
  }
  .nav li a {
    color: black;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
  }
  ul{
    padding-left: 0px;
  }
  .nav li:not(:nth-child(3)) a:hover {
    background: 	#f9fafc;
  }
  #world{
    width: 35px;
    height: 35px;
    transition: transform .6s;
  }
  #world:hover{
    transform: scale(2.2);
  }
  h1{
    display: block;
    margin: auto;
    font-family: 'Josefin Slab', serif;

  }

  .east img{
    float: left;
    width: auto;
    height: auto;
    max-width: 50%;
    max-height: 100%;
    margin-right: 20px;
    margin-bottom: 10px;
    padding-right: 20px;
  }

  .neighborhood {
    max-width: 300px;
    height: auto;

  }
  .ne img{
    width: 400px;
    height: auto;
  }
  footer{
    font-family: 'PT Serif', serif;
    font-size: 12px;
    left: 0;
    bottom: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fafc;
    color: black;
    width: 100%;
    position: fixed;
    opacity: .7;
  }
  .content{
    display: block;
    float: left;
    width: 55%;

  }
  header{
    font-size: 19px;
    font-weight: bolder;
font-family: 'Josefin Slab', serif;
  }
  .top{
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 35px;
    font-weight: 500;
  }
  .top a{
    text-decoration: none;
    color: white;
  }


  h2{
    padding-bottom: 10px;
    padding-top: 10px;
    display: block;
    margin: auto;
    text-align: center;
    transition: transform .6s;
    cursor: pointer;
    font-family: 'Josefin Slab', serif;

  }
  h2:hover{
    transform: scale(1.3);
  }
  .intro{
    font-size: 50px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 40px;
    text-align: center;
    transition: transform .6s;
    cursor: pointer;
    font-family: 'Josefin Slab', serif;


  }
  .intro:hover{
    transform:scale(1.3);
  }

  main{
    background-color: white;
    height: 100%;
    margin: auto;
    width: 100%;
  }
  main a{
    text-decoration: none;
  }
  .about a{
    text-decoration: none;
  }
  .aboutpage{
    background-color: white;
  }
  #help{
    float: none;
  }
  .post{
    width: 70%;
    margin: auto;
    margin-bottom: 25px;
    background-color: white;
    padding: 20px;
    font-size: 18px;
  }
  .l h2{
    padding-top: 20px;
  }
  section[type="insta"]{
    padding-top: 20px;
    margin-left: 30%;

  }
  /* Pseudo element#1 */
  address:before {
    content: "\2709";
  }

  ul .dijkstras img{
    max-width:500px;
    width: 100%;
    height: 100%;
    margin: auto;
  }
  ul .dfs img{
    max-width:500px;
    width: 100%;
    height: 100%;
    margin: auto;
  }
  ul .bfs img{
    max-width:500px;
    width: 100%;
    height: 100%;
    margin: auto;
  }
  section {
    display: inline-block;
    width: 75%;
    margin-left: 12.5%;
  }
  section li{
    list-style: none;
  }
  /*Attribute selector.. if type is fav change color and style*/
  a[type="bold"]{
    font-weight: bolder;
  }
  a[type="ital"]{
    font-style: oblique;
  }
  ul[type="contact"]{
    display: flex;
  }
  li[type="fav"]{
    color: #FFCCE4;
    font-style: italic;
  }

  li[type="contact"] img{
    width: 100px;
    padding-right: 30%;
  }
  #pink{
    color: #FFCCE4;
  }
  /*Attribute selector.. if type is CS or London change font color*/

  /*STRUCTURAL SELECTORS BELOW

*/
.ldn img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  max-width: 600px;
  width: 100%;
  height: 100%;

}

#butt{
  margin: auto;
  margin-bottom: 40px;
  margin-top: 40px;
  width: 100%;
}
.button{
  border: 2px solid ##969696;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Josefin Slab', serif;
  background-color: #f7d0cb;
}
.resume{
  width: 75%;
  margin-left: 12.5%;
  display: inline-block;
  background-color: white;
  font-size: 17px;
  color: #6d445f;
  height: 100%;
}
.resume li{
  list-style: none;
}
.resume h2{
  color: black;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: right;
  width: 30%;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.9;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:not(:last-child):after{
  content: "";
  display: table;
  clear: both;
}
.row{
  padding-top: 20px;
}
/* The expanding image container */
.container {
  position: relative;

}
.greet a{
  color: white;
}
.greet h2{
  font-family: 'Josefin Slab', serif;
  font-size: 40px;
  font-weight: bolder;
}
.greet{
  background-image: url("images/east-college.jpg");
  min-height: 480px;
  margin:auto;
  width: 100%;
  background-size: 100% 100%;
  color: white;
  text-align: center;
}
section[type="exp"]{
  display: inline-block;
}

.exp{
  font-family: 'Josefin Slab', serif;
  text-align: center;
  color: black;
  float: left;
  padding-top: 40px;
  width: 45%;
  font-size: 40px;
  font-weight: bolder;
}
.exp #desc{
  text-align: justify;
  font-size: 17px;
  font-family: 'PT Serif', serif;
  font-weight: normal;
  padding-top: 10px;

}
.exp h2{
  font-size: 40px;
}
.reupic{
  padding-top: 16%;
  float: right;
  width: 50%;
}
.reupic img{

  width: 100%;
}

.txt{
  font-size: 20px;
  padding: 100px 0;
  width: 70%;
  margin: auto;
  display: block;
  font-weight: normal;
}
#expandedImg{
  width: 70%;
  display:block;
  margin:auto;
}
/* Expanding image text */
#imgtext {
  padding-top: 20px;
  color: #747474;
  padding-bottom: 2px;
  font-size: 20px;
  display:block;
  margin:auto;
  text-align: center;
  font-family: 'Josefin Slab', serif;
  text-transform: uppercase;
}

section{
  display: inline-block;

}

.div1{
  width: 40%;
  display: block;
  float: left;
}
.div2{
  width: 40%;
  display: block;
  float: right;

}
.con{
  width: 50%;
  float: left;
  min-height: 300px;
}
.nyc{
  width: 50%;
  float: right;
}
.nyc img{
  width: 90%;

}
.con img{
  width: 90%;

}
#caption{
  padding: 0px 10px 0px 10px;
  text-align: center;
  font-size: 14px;
  font-family: 'Josefin Slab', serif;
  text-transform: uppercase;

}
.end{
  width: 100%;
}

 .women{
  width: 100%;
  display: block;
  height: auto;
}

@media only screen and (max-width: 800px) {
  .nav li {

    list-style-type: none;
  }
  .nav li:nth-child(3){

  }
}
