body{
  display: block;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: auto;
  background-color: white;
  font-family: 'ABeeZee', sans-serif;
  font-size: 18px;
text-decoration: none;}

a{
  text-decoration: none;
  color: black;
}
html {
    height: 100%;
}


article{
  width: 65%;
  margin: auto;
}
.hide{
  padding: 0px 0px 20px 20px;
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#me{
  width: 300px;
  height: 100%;
  float: right;
  opacity: 1;
  transition: transform .6s;
   transition: opacity 1s ease-in-out;
   -moz-transition: opacity 1s ease-in-out;
   -webkit-transition: opacity 1s ease-in-out;
  margin-left: 30px;
}
#me:hover{
opacity: 0.85;
}

#logo{

  width: 160px;
  height: 150px;
  padding-bottom: 20px;
}
.links {
  display: table-row;

}

.links img{
  padding: 0px 0px 20px 20px;
  margin-bottom: 20px;
  width: 70px;
  height: 30px;
}
header a{

  font-size: 45px;
}

.nav {
  background-color: #f6d9d5;
  font-size: 16px;
  margin: 0 0 0px;
  text-align: center;
  font-family: 'ABeeZee', sans-serif;
}
.nav li:not(:nth-child(3)){
  transform: translateY(-50px);
  padding-left: 30px;
  padding-right: 30px;
}
.nav li {
  display: inline-block;
  list-style-type: none;
  margin-right: 10px;
}
.nav li:last-child {
  margin-right: 0;
}
.nav li a {
  color: black;
  display: inline-block;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}
.nav li:not(:nth-child(3)) a:hover {
  background: 	#f9fafc;
}
#world{
  width: 35px;
  height: 35px;
  transition: transform .6s;
}
#world:hover{
  transform: scale(2.2);
}
h1{
	display: block;
	margin: auto;
}
.pic{
  float: right;
  margin-left: 15px;
}
.pic img{
  /*Animation#1*/
  transition: transform .4s;
  max-width: 320px;
  max-height: 520px;
}
.pic img:hover{
  transform: scale(1.2);
}
.pic p{
  font-size: 13px;
  text-align: center;
  margin:auto;
}
.upbeat{
  float: right;
  margin: auto;
  padding: 10px;
}
.upbeat img{
  max-width: 130px;
  width: 100%;
  height: 100%;
}
#help2{
  font-size: 13px;
  text-align: center;
  margin:auto;
}
#help3{
  font-size: 13px;
  text-align: center;
  margin:auto;
}

.east img{
float: left;
  width: auto;
  height: auto;
  max-width: 50%;
  max-height: 100%;
  margin-right: 20px;
  margin-bottom: 10px;
  padding-right: 20px;
}

.neighborhood {
  max-width: 300px;
	height: auto;

}
.ne img{
  width: 400px;
	height: auto;
}
footer{
  font-family: 'ABeeZee', sans-serif;
  font-size: 15px;
  left: 0;
  bottom: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: #f9fafc;
	color: black;
  width: 100%;

}
.content{
  display: block;
  float: left;
  width: 55%;

}



aside{
  float: right;
  background-color: white;
  height: 100%;
  width: 33%;
  text-align: center;
  overflow: hidden;
  padding: 15px;
  min-width: 310px;
  margin-bottom: 60px;
}
.insta{
  padding: 10px;
}
header{
  font-size: 19px;
  font-weight: bolder;

}
.top{
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 35px;
  font-weight: 500;
}
.top a{
  text-decoration: none;
  color: white;
}
section .content{
  float: left;
  align-content: center;
}

h2{
  padding-bottom: 10px;
  padding-top: 10px;
  display: block;
  margin: auto;
  text-align: center;
  transition: transform .6s;
  cursor: pointer;
}
h2:hover{
  transform: scale(1.3);
}
.intro{
  font-size: 60px;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 60px;
  text-align: center;
  transition: transform .6s;
  cursor: pointer;

}
.intro:hover{
  transform:scale(1.3);
}
main{
  background-color: white;
  height: 100%;
  margin: auto;
  width: 100%;
}
main a{
  text-decoration: none;
}
.about a{
  text-decoration: none;
}

.exp{
  width: 100%;
  min-height: 200px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 20px;
  font-size: 18px;


}
#help{
  float: none;
}
.post{
  width: 70%;
  margin: auto;
  margin-bottom: 25px;
  background-color: white;
  padding: 20px;
  font-size: 18px;
}
section .links{
  float: left;
  width: 50%;
  margin: auto;
  margin-bottom: 25px;
  background-color: white;
  padding: 20px;
  font-size: 18px;
  /* BORDER */
  border:2px dashed black;
}
.links ul{
  padding-right: 30px;
}
.links li{
  list-style-type: none;
}
/*STRUCTURAL SELECTORS BELOW*/
.links li:first-child{
  padding: 10px;
  background-color: lightgrey;
}
.links li:first-child img{
  padding-left: 10px;
  max-width: 50px;
  max-height: 100%;
}
.links li:nth-child(2){
  padding: 10px;
  background-color: white;
}
.links li:nth-child(2) img{
  padding-left: 10px;
  max-width: 50px;
  max-height: 100%;
}
.links li:last-child{
  padding: 10px;
  background-color: lightgrey;
}
/* Pseudo element#1 */
address:before {
content: "\2709";
}
@media(max-width: 1000px){
	section .content{
		width: 90%;
	}

}

ul .dijkstras img{
  max-width:500px;
  width: 100%;
  height: 100%;
  margin: auto;
}
ul .dfs img{
  max-width:500px;
  width: 100%;
  height: 100%;
  margin: auto;
}
ul .bfs img{
  max-width:500px;
  width: 100%;
  height: 100%;
  margin: auto;
}
/*Attribute selector.. if type is fav change color and style*/
a[type="ital"]{
  font-style: oblique;
}
li[type="fav"]{
  color: #FFCCE4;
  font-style: italic;
}
#pink{
  color: #FFCCE4;
}

/*Attribute selector.. if type is CS or London change font color*/
article[type="CS"]{
  color: #FFF3CC;
}
article[type="London"]{
  color: #F0EDFF;
}
/*STRUCTURAL SELECTORS BELOW
article:last-of-type{
  color: navy;
}
article:not(:last-of-type){
  background-color: #212D4F;
}
.alg ul li:first-child{
  list-style: none;
}
article ul li:not(:first-child){
  padding: 10px;
  font-weight: bold;
}
article a{
  text-decoration: none;
  color: white;
}
*/
.ldn img{
  display: block;
   margin-left: auto;
   margin-right: auto;
  margin-top: 20px;
  max-width: 600px;
  width: 100%;
  height: 100%;

}

article .films{
  font-weight: bold;
}
.places ul li{
  font-weight: 200;
}

.places img{
  width: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*Animation #3*/
  transition: transform .4s;
}
.places img:hover{
  transform: scaleX(1.2);
}
/*Pseudo element #2*/
#ld::after{
  content: "\2605";
}
/*TWITTER*/
aside .twitter-timeline{
  float: right;
  width: 30%;
  overflow: scroll;
  margin-left: auto;
  margin-right: auto;
}
section .contact{
  float: left;
  width: 50%;
}

.resume{
  /*GRADIENT*/
  background-image: linear-gradient(#FFCCE4, #E0E8FC);
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 20px;
  font-size: 18px;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 30%;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.9;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:not(:last-child):after{
  content: "";
  display: table;
  clear: both;
}
.row{
  padding-top: 20px;
}
/* The expanding image container */
.container {
  position: relative;

}
.greet a{
  color: white;
}
 .greet{
  background-image: url("images/east-college.jpg");
  min-height: 480px;
  margin:auto;
  width: 100%;
  background-size: 100% 100%;
  color: white;
  text-align: center;
  margin-bottom: 40px;
}
.txt{
  font-size: 25px;
  padding: 120px 0;
  width: 70%;
  margin: auto;
  display: block;
}
#expandedImg{
  width: 70%;
  display:block;
  margin:auto;
}
/* Expanding image text */
#imgtext {
  color: #747474;
  padding-bottom: 5px;
  font-size: 20px;
  display:block;
  margin:auto;
  text-align: center;
}
article{
  margin-bottom: 20px;
}
